.checked {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 2.5rem;
    background: rgb(87, 221, 255);
    background-image: url("https://res.cloudinary.com/kreiva/image/upload/v1651823440/FrontendMentor/ToDoListApp/icon-check_ub1f7p.svg");
    background-image: url("https://res.cloudinary.com/kreiva/image/upload/v1651823440/FrontendMentor/ToDoListApp/icon-check_ub1f7p.svg"),
        $gradient-background;
    background-repeat: no-repeat;
    background-position: center;
}

.crossed {
    color: var(--color-borders) !important;
    text-decoration-line: line-through;
}

.active {
    font-weight: $font-weight-heavy;
    color: $color-primary-dark-blue;
}

.dragging {
    transform: translateY(10%);
    transition: all 10ms ease-in-out;
}

.hidden {
    display: noen;
    visibility: hidden;
    opacity: 0;
}
