// FONT
$font-size-main: 1.3rem; // 18px
$font-size-text: 2rem;
$font-size-logo: 5rem;
$font-size-footer: 1.4rem;

$font-line-height: 1.8rem;
$font-letter-spacing-big: 1.8rem;

$font-weight-light: 400;
$font-weight-heavy: 700;

$margin-bottom-big: 3rem;
$margin-bottom-small: 1rem;

$color-primary-dark-blue: hsl(220, 98%, 61%);
$gradient-background: linear-gradient(
    157deg,
    hsl(192, 100%, 67%) 0%,
    hsl(280, 87%, 65%) 88%
);
$color-main-purple: hsl(280, 87%, 65%);
$color-main-electric: hsl(192, 100%, 67%);

.theme-1 {
    --color-background: hsl(236, 33%, 92%);
    --color-card: hsl(0, 0%, 98%);
    --color-logo: hsl(0, 0%, 98%);
    --color-borders: hsl(233, 11%, 84%);
    --color-text: hsl(235, 19%, 35%);
    --color-footer: hsl(236, 9%, 61%);

    --background-image-desktop: url("https://res.cloudinary.com/kreiva/image/upload/v1651823440/FrontendMentor/ToDoListApp/bg-desktop-light_seds72.jpg");
    --background-image-mobile: url("https://res.cloudinary.com/kreiva/image/upload/v1651823440/FrontendMentor/ToDoListApp/bg-mobile-light_xd1knv.jpg");
}

.theme-2 {
    --color-background: hsl(235, 21%, 11%);
    --color-card: hsl(235, 24%, 19%);
    --color-logo: hsl(236, 33%, 92%);
    --color-borders: hsl(233, 14%, 35%);
    --color-text: hsl(234, 39%, 85%);
    --color-footer: hsl(234, 11%, 52%);
    --color-7: hsl(237, 14%, 26%);

    --background-image-desktop: url("https://res.cloudinary.com/kreiva/image/upload/v1651823440/FrontendMentor/ToDoListApp/bg-desktop-dark_jv48fe.jpg");
    --background-image-mobile: url("https://res.cloudinary.com/kreiva/image/upload/v1651823440/FrontendMentor/ToDoListApp/bg-mobile-dark_kgbv7h.jpg");
}
