.container {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
    background-image: url(https://res.cloudinary.com/kreiva/image/upload/v1651823440/FrontendMentor/ToDoListApp/bg-desktop-light_seds72.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
