.footer {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-footer;
    color: var(--color-footer);

    &:hover {
        background-image: none !important;
    }

    &__text {
        margin-right: 1rem;

        &:hover {
            cursor: pointer;
            color: var(--color-text);
        }
    }
}
