.footer {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-footer;
    color: var(--color-footer);
    border-bottom: none !important;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;

    &:hover {
        background-image: none !important;
    }

    &__text {
        margin-right: 1rem;

        &:hover {
            cursor: pointer;
            color: var(--color-text);
        }
    }
}
