.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $margin-bottom-big;

    &__logo {
        color: var(--color-card-logo);
        text-transform: uppercase;
        font-weight: $font-weight-heavy;
        font-size: $font-size-logo;
        letter-spacing: $font-letter-spacing-big;
    }

    &__theme {
        background-image: url(https://res.cloudinary.com/kreiva/image/upload/v1651823440/FrontendMentor/ToDoListApp/icon-moon_j88jkv.svg);
        background-repeat: no-repeat;
        width: 3rem;
        height: 3rem;

        &:hover {
            cursor: pointer;
        }
    }
}
