.wrapper {
    width: 40vw;
    height: 80vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    @include respond(tab-land) {
        width: 55vw;
    }
    @include respond(tab-port) {
        width: 65vw;
    }
    @include respond(phone) {
        width: 85vw;
    }
}
