.btn {
    width: 100%;

    color: var(--color-logo);
    padding: 1rem;
    border-radius: 0.3rem;
    font-size: $font-size-main;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    &__signup,
    &__login {
        background-color: $color-main-purple;
    }

    &__cancel {
        background-color: var(--color-text);
    }

    &__got-it {
        background-color: var(--color-text);
        width: auto;
        margin-bottom: 0;
    }

    &:hover {
        background-color: $color-primary-dark-blue;
        cursor: pointer;
    }

    &__exit {
        width: 3rem;
        height: 3rem;

        &:hover {
            cursor: pointer;
        }
    }
}
