.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.7rem;

    &__item {
        display: flex;
        background-color: var(--color-card);
        align-items: center;
        padding: 2.5rem;
        border-bottom: 1px solid var(--color-borders);

        &-input {
            margin-bottom: $margin-bottom-big;
            border-radius: 0.7rem;
            border: none;
        }
    }

    &__list-items {
        background-color: red;
        border-top-left-radius: 0.7rem;
        border-top-right-radius: 0.7rem;

        &:hover {
            background-color: red;

            background-image: url(https://res.cloudinary.com/kreiva/image/upload/v1651823440/FrontendMentor/ToDoListApp/icon-cross_a9tvlw.svg);
            background-repeat: no-repeat;
            background-position: 95%;
        }
    }
}
