.card {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__item {
        display: flex;
        background-color: var(--color-card);
        align-items: center;
        padding: 2.5rem;

        &:first-child {
            margin-bottom: $margin-bottom-big;
            border-radius: 0.7rem;
            border: none;
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--color-borders);
        }

        &:last-child {
            border-bottom-left-radius: 0.7rem;
            border-bottom-right-radius: 0.7rem;
        }
        &:nth-child(2) {
            border-top-left-radius: 0.7rem;
            border-top-right-radius: 0.7rem;
        }

        &:hover {
            background-image: url(https://res.cloudinary.com/kreiva/image/upload/v1651823440/FrontendMentor/ToDoListApp/icon-cross_a9tvlw.svg);
            background-repeat: no-repeat;
            background-position: 95%;
        }
    }
}
