.error {
    z-index: 99;
    width: 30vw;
    background-color: var(--color-background);
    border-radius: 0.5rem;
    padding: 3rem;
    border: none;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: $font-line-height;

    &__message {
        font-size: $font-size-text;
        margin-bottom: $margin-bottom-small;
    }
}
