.error {
    position: absolute;
    z-index: 101;
    width: 26vw;
    background-color: var(--color-footer);
    border-radius: 0.5rem;
    padding: 3rem;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: $font-line-height;

    &__message {
        font-size: $font-size-text;
        margin-bottom: $margin-bottom-small;
    }
}
