.exit {
    background-image: url(https://res.cloudinary.com/kreiva/image/upload/v1651823440/FrontendMentor/ToDoListApp/icon-cross_a9tvlw.svg);
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    background-position: center;
    position: relative;
    right: -65%;

    &:hover {
        cursor: pointer;
    }
}
