.logout {
    position: absolute;
    width: 15vw;
    background-color: var(--color-background);
    border-radius: 0.5rem;
    padding: 4rem;
    @include absCenter;
    border: none;
    z-index: 99;
    text-align: center;
}
